
/*this makes the bubbles move at different times. add more rows for more randomness*/
li:nth-of-type(5n + 1) .card img {
  animation-duration: 13s;
  animation-delay: -5s;
}

li:nth-of-type(5n + 2) .card img {
  animation-duration: 18s;
  animation-delay: -18s;
}

li:nth-of-type(5n + 3) .card img {
  animation-duration: 15s;
  animation-delay: -11s;
}

li:nth-of-type(5n + 4) .card img {
  animation-duration: 10s;
  animation-delay: -8s;
}

li:nth-of-type(5n + 5) .card img {
  animation-duration: 17s;
  animation-delay: 0s;
}

/* These are the delays for the bubble-move and sideways animations respectively */
li:nth-of-type(5n + 1) .card {
  animation-duration: 18s, 4s;
  animation-delay: -5s, 2s;
}

li:nth-of-type(5n + 2) .card {
  animation-duration: 28s, 4s;
  animation-delay: -18s, 4s;
}

li:nth-of-type(5n + 3) .card {
  animation-duration: 25s, 4s;
  animation-delay: -11s, 0s;
}

li:nth-of-type(5n + 4) .card {
  animation-duration: 23s, 4s;
  animation-delay: -8s, 1s;
}

li:nth-of-type(5n + 5) .card {
  animation-duration: 20s, 4s;
  animation-delay: 0s, 3s;
}


/* Dit is de animatie van de achtergrond bubbels */
.x1 {
  animation: animateBubble 25s linear infinite,
    background-sideways 2s ease-in-out infinite alternate;

  left: -5%;
  top: 5%;

  transform: scale(0.6);
}

.x2 {
  animation: animateBubble 20s linear infinite,
    background-sideways 4s ease-in-out infinite alternate;

  left: 5%;
  top: 80%;

  transform: scale(0.4);
}

.x3 {
  animation: animateBubble 28s linear infinite,
    background-sideways 2s ease-in-out infinite alternate;

  left: 10%;
  top: 40%;

  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  transform: scale(0.7);
}

.x4 {
  animation: animateBubble 22s linear infinite,
    background-sideways 3s ease-in-out infinite alternate;

  left: 20%;
  top: 0;

  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

.x5 {
  animation: animateBubble 29s linear infinite,
    background-sideways 4s ease-in-out infinite alternate;

  left: 30%;
  top: 50%;

  transform: scale(0.5);
}

.x6 {
  animation: animateBubble 21s linear infinite,
    background-sideways 2s ease-in-out infinite alternate;

  left: 50%;
  top: 0;

  transform: scale(0.8);
}

.x7 {
  animation: animateBubble 20s linear infinite,
    background-sideways 2s ease-in-out infinite alternate;

  left: 65%;
  top: 70%;

  transform: scale(0.4);
}

.x8 {
  -webkit-animation: animateBubble 22s linear infinite,
    background-sideways 3s ease-in-out infinite alternate;
  -moz-animation: animateBubble 22s linear infinite,
    background-sideways 3s ease-in-out infinite alternate;
  animation: animateBubble 22s linear infinite,
    background-sideways 3s ease-in-out infinite alternate;

  left: 80%;
  top: 10%;

  transform: scale(0.3);
}

.x9 {
  -webkit-animation: animateBubble 29s linear infinite,
    background-sideways 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 29s linear infinite,
    background-sideways 4s ease-in-out infinite alternate;
  animation: animateBubble 29s linear infinite,
    background-sideways 4s ease-in-out infinite alternate;

  left: 90%;
  top: 50%;

  transform: scale(0.6);
}

.x10 {
  -webkit-animation: animateBubble 26s linear infinite,
    background-sideways 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 26s linear infinite,
    background-sideways 2s ease-in-out infinite alternate;
  animation: animateBubble 26s linear infinite,
    background-sideways 2s ease-in-out infinite alternate;

  left: 80%;
  top: 80%;

  transform: scale(0.3);
}

/*bubble animatie*/
@keyframes bubble {
  0% {
    scale: 1.07 .93;
  }

  10% {
    scale: .96 1.04;
  }

  20% {
    scale: 1.02 .98;
  }

  30% {
    scale: .98 1.02;
  }

  40% {
    scale: 1.04 .96;
  }

  50% {
    scale: .93 1.07;
  }

  60% {
    scale: 1.04 .96;
  }

  70% {
    scale: .98 1.02;
  }

  80% {
    scale: 1.02 .98;
  }

  90% {
    scale: .96 1.04;
  }

  100% {
    scale: 1.07 .93;
  }
}

/* Dit laat de bubbels omhoog bewegen */
@keyframes bubble-move {
  0% {
    top: 100vh;
  }

  10% {
    top: 80vh;
  }

  20% {
    top: 60vh;
  }

  30% {
    top: 40vh;
  }

  40% {
    top: 20vh;
  }

  50% {
    top: 0vh;
  }

  60% {
    top: -20vh;
  }

  70% {
    top: -40vh;
  }

  80% {
    top: -60vh;
  }

  90% {
    top: -84vh;
  }

  100% {
    top: -115vh;
  }
}

/* Dit laat de achtergrond bubbels omhoog en vanaf de zijkant bewegen */
@keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }

  100% {
    margin-top: -100%;
  }
}

@keyframes background-sideways {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: 50px;
  }
}

@keyframes foreground-sideways {
  0% {
    left: -25px;
  }

  100% {
    left: 25px;
  }
}
