
/*this makes the bubbles move at different times. add more rows for more randomness*/
.card:nth-of-type(5n + 1) img {
    animation-delay: -5s;
    animation-duration: 13s;
}

.card:nth-of-type(5n + 2) img {
animation-delay: -18s;
animation-duration: 18s;
}

.card:nth-of-type(5n + 3) img {
animation-delay: -11s;
animation-duration: 15s;
}

.card:nth-of-type(5n + 4) img {
animation-delay: -8s;
animation-duration: 10s;
}

.card:nth-of-type(5n + 5) img {
animation-delay: 0s;
animation-duration: 17s;
}

/* These are the delays for the bubble-move and sideWays animations respectively */
.card:nth-of-type(5n + 1) {
animation-delay: -5s, 2s;
animation-duration: 18s, 4s;
}

.card:nth-of-type(5n + 2) {
animation-delay: -18s, 4s;
animation-duration: 28s, 4s;
}

.card:nth-of-type(5n + 3) {
animation-delay: -11s, 0s;
animation-duration: 25s, 4s;
}

.card:nth-of-type(5n + 4) {
animation-delay: -8s, 1s;
animation-duration: 23s, 4s;
}

.card:nth-of-type(5n + 5) {
animation-delay: 0s, 3s;
animation-duration: 20s, 4s;
}

.x1 {
-moz-transform: scale(0.6);
-webkit-transform: scale(0.6);
left: -5%;
top: 5%;
transform: scale(0.6);
-webkit-animation: animateBubble 25s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
-moz-animation: animateBubble 25s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
animation: animateBubble 25s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
}

.x2 {
-moz-transform: scale(0.4);
-webkit-transform: scale(0.4);
left: 5%;
top: 80%;
transform: scale(0.4);
-webkit-animation: animateBubble 20s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
-moz-animation: animateBubble 20s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
animation: animateBubble 20s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
}

.x3 {
-moz-transform: scale(0.7);
-webkit-transform: scale(0.7);
left: 10%;
top: 40%;
transform: scale(0.7);
-webkit-animation: animateBubble 28s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
-moz-animation: animateBubble 28s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
animation: animateBubble 28s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
}

.x4 {
-moz-transform: scale(0.3);
-webkit-transform: scale(0.3);
left: 20%;
top: 0;
transform: scale(0.3);
-webkit-animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;
-moz-animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;
animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;
}

.x5 {
-moz-transform: scale(0.5);
-webkit-transform: scale(0.5);
left: 30%;
top: 50%;
transform: scale(0.5);
-webkit-animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
-moz-animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
}

.x6 {
-moz-transform: scale(0.8);
-webkit-transform: scale(0.8);
left: 50%;
top: 0;
transform: scale(0.8);
-webkit-animation: animateBubble 21s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
-moz-animation: animateBubble 21s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
animation: animateBubble 21s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
}

.x7 {
-moz-transform: scale(0.4);
-webkit-transform: scale(0.4);
left: 65%;
top: 70%;
transform: scale(0.4);
-webkit-animation: animateBubble 20s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
-moz-animation: animateBubble 20s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
animation: animateBubble 20s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
}

.x8 {
-moz-transform: scale(0.3);
-webkit-transform: scale(0.3);
left: 80%;
top: 10%;
transform: scale(0.3);
-webkit-animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;
-moz-animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;
animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;
}

.x9 {
-moz-transform: scale(0.6);
-webkit-transform: scale(0.6);
left: 90%;
top: 50%;
transform: scale(0.6);
-webkit-animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
-moz-animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
}

.x10 {
-moz-transform: scale(0.3);
-webkit-transform: scale(0.3);
left: 80%;
top: 80%;
transform: scale(0.3);
-webkit-animation: animateBubble 26s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
-moz-animation: animateBubble 26s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
animation: animateBubble 26s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
}

/*bubble animatie*/
@keyframes bubble {

0% {
    scale: 1.07 .93;
}

10% {
    scale: .96 1.04;
}

20% {
    scale: 1.02 .98;
}

30% {
    scale: .98 1.02;
}

40% {
    scale: 1.04 .96;
}

50% {
    scale: .93 1.07;
}

60% {
    scale: 1.04 .96;
}

70% {
    scale: .98 1.02;
}

80% {
    scale: 1.02 .98;
}

90% {
    scale: .96 1.04;
}

100% {
    scale: 1.07 .93;
}
}

@keyframes bubble-move {

0% {
    top: 100vh;
}

10% {
    top: 80vh;
}

20% {
    top: 60vh;
}

30% {
    top: 40vh;
}

40% {
    top: 20vh;
}

50% {
    top: 0vh;
}

60% {
    top: -20vh;
}

70% {
    top: -40vh;
}

80% {
    top: -60vh;
}

90% {
    top: -84vh;
}

100% {
    top: -115vh;
}
}

@-moz-keyframes animateBubble {

0% {
    margin-top: 1000px;
}

100% {
    margin-top: -100%;
}
}

@keyframes animateBubble {

0% {
    margin-top: 1000px;
}

100% {
    margin-top: -100%;
}
}

@-webkit-keyframes sideWays {

0% {
    margin-left: 0px;
}

100% {
    margin-left: 50px;
}
}

@-moz-keyframes sideWays {

0% {
    margin-left: 0px;
}

100% {
    margin-left: 50px;
}
}

@keyframes sideWays {

0% {
    margin-left: 0px;
}

100% {
    margin-left: 50px;
}
}
