/* 
    Alle kleuren voor de klassen lijst 
    Elke student heeft een eigen kleur
*/
:root {

    --kleur1: #ffff;
    --kleur2: #ffd2ef;
    --kleur3: #abebff;
    --kleur4: #4981ca;
    --kleur5: #b23cb8;
}

ul.card-container {
    list-style-type: none;

    /* grid */
}

ul.card-container li {
	float: left;
}

ul .card {
    height: 300px;
    width: 300px;
}

ul .card .front {
    height: 100%;
    position: relative;
    width: 100%;
}

ul .card img {
    width:10em;
	height: 10em;
	border-radius:50%;
	display:block;
	object-fit: fill;
	
	animation-name:bubble;
	animation-duration:20s;
	animation-iteration-count:infinite;
	
    /* random duration */
}

ul .card .overlay {
    display: none;
}

ul .card:hover .overlay {
    color: var(--kleur1);
    display: block;
    position: absolute;
	text-align: center;
	width: 10em;
	top: 4em;

    /* complete middle */
    /* color */
}

ul .card .back {
    display: none;
}

h1 {
    font-family: "MuseoModerno", cursive;
    font-family: "Russo One", sans-serif;
    font-size: 80;
}

body {
	margin:0;
	height:100dvh;
	display:flex;
}

.card:nth-of-type(5n + 1) img {
	animation-duration:13s; 
	animation-delay:-5s;
}

.card:nth-of-type(5n + 2) img {
	animation-duration:18s; 
	animation-delay:-18s;
}

.card:nth-of-type(5n + 3) img {
	animation-duration:15s;
	animation-delay:-11s;
}

.card:nth-of-type(5n + 4) img {
	animation-duration:10s;
	animation-delay:-8s;
}

.card:nth-of-type(5n + 5) img {
	animation-duration:17s; 
	animation-delay:0s;
}

@keyframes bubble {
	0% {
		scale:1.07 .93;
		animation-timing-function:ease-in;
	}
	10% {
		scale:.96 1.04;
		animation-timing-function:ease-in-out;
	}
	20% {
		scale:1.02 .98;
		animation-timing-function:ease-in-out;
	}
	30% {
		scale:.98 1.02;
		animation-timing-function:ease-in-out;
	}
	40% {
		scale:1.04 .96;
		animation-timing-function:ease-in-out;
	}
	50% {
		scale:.93 1.07;
		animation-timing-function:ease-in-out;
	}
	60% {
		scale:1.04 .96;
		animation-timing-function:ease-in-out;
	}
	70% {
		scale:.98 1.02;
		animation-timing-function:ease-in-out;
	}
	80% {
		scale:1.02 .98;
		animation-timing-function:ease-in-out;
	}
	90% {
		scale:.96 1.04;
		animation-timing-function:ease-in-out;
	}
	100% {
		scale:1.07 .93;
		animation-timing-function:ease-out;
	}
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }