/* 
    Alle kleuren voor de klassen lijst 
    Elke student heeft een eigen kleur
*/
:root {

    --kleur1: #ffff;
    --kleur2: #ffd2ef;
    --kleur3: #abebff;
    --kleur4: #4981ca;
    --kleur5: #b23cb8;
}

body {
    margin: 0;
}

header {
    background-color: var(--kleur4);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 100px;
    color: white;
}

ul.card-container {
    /* align-items: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;*/
    list-style-type: none; 
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    /* grid */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

ul .card {
    height: 280px;
    width: 280px;
    margin-bottom: 1rem;
    padding: 1rem;

}

ul .card .front {
    height: 100%;
    position: relative;
    width: 100%;
}

ul .card img {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: bubble-anim;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
    /* random duration */
}

ul .card .overlay {
    display: none;
}

ul .card:hover .overlay {
    color: var(--kleur1);
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    /* complete middle */
    /* color */
}

ul .card .back {
    display: none;
}

h1 {
    font-family: "MuseoModerno", cursive;
    font-family: "Russo One", sans-serif;
    font-size: 80;
}

@keyframes bubble-anim {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scaleY(0.95) scaleX(1.05);
    }

    48% {
        transform: scaleY(1.1) scaleX(0.9);
    }

    68% {
        transform: scaleY(0.98) scaleX(1.02);
    }

    80% {
        transform: scaleY(1.02) scaleX(0.98);
    }

    97%,
    100% {
        transform: scale(1);
    }
}